%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %fieldset
    %dl
      %dt
        = f.label :name
      %dd
        = f.text_field :name
      %dt
        = f.label :email
      %dd
        = f.text_field :email
      - if @user.password_required?
        %dt
          = f.label :password
        %dd
          = f.password_field :password
        %dt
          = f.label :password_confirmation
        %dd
          = f.password_field :password_confirmation
  %fieldset.actions
    %p= f.submit "Sign up"

= render :partial => "devise/shared/links"
