- if user_signed_in?
  = display_username_or_email(current_user)
  |
  = link_to "Sign Out", destroy_user_session_path
- else
  = link_to "Sign Up", new_user_registration_path
  |
  = link_to "Sign In", new_user_session_path
  or
  = link_to "with Twitter", user_omniauth_authorize_path(:twitter)
