%h2 Outing at #{outing.restaurant.name}, #{outing.event_time}

= map(outing.restaurant)

%p #{outing.user.name} started this outing.

- if outing.users.empty?
  %p No one else has joined the outing yet.
- else
  %ul#outing_users
    - outing.users.each do |user|
      %li= user.name

- if outing.users.include? current_user
  = form_for [:leave, restaurant, outing], :html => { :method => :post } do |f|
    %fieldset.actions
      = f.submit 'Leave'
- else
  = form_for [:join, restaurant, outing], :html => { :method => :post } do |f|
    %fieldset.actions
      = f.submit 'Join'

%br/
= link_to 'Back', root_path
