#right
  #outings
    %h2 Today&rsquo;s Outings

    - if outings.any?
      %ol#outings
        - outings.each do |outing|
          %li
            %span.outing= outing_item(outing)
            - outing.users.each do |user|
              = image_tag avatar_for(user), alt: user.name, title: user.name
    - else
      %p No outings yet today.
  #scheduled
    %h2 Scheduled Outings

    - if scheduled_outings.any?
      %ol#scheduled_outings
        - scheduled_outings.each do |outing|
          %li
            %span.outing= scheduled_outing_item(outing)
            - outing.users.each do |user|
              = image_tag avatar_for(user)
    - else
      %p No outings have been scheduled.

#left
  %h2 All Restaurants
  %p= link_to "Add a Restaurant", new_restaurant_path, :class => "green button"

  %ol#restaurants
    - restaurants.each do |restaurant|
      %li
        = link_to restaurant.name, new_restaurant_outing_path(restaurant)

.clear
