%h2 Create Restaurant

= form_for restaurant do |f|
  %fieldset
    %dl
      %dt
        = f.label :name, "Name"
      %dd
        = f.text_field :name
  %fieldset.actions
    = f.submit 'Create Restaurant'
    = link_to 'cancel', root_path
