!!!
%html(lang="en-US")
  %head
    %title Lunch Bunch
    = stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Lobster&subset=latin"
    = csrf_meta_tag
  %body
    %header
      %h1= link_to "Lunch Bunch", root_path
      %p#account
        - if user_signed_in?
          = current_user.email
          |
          = link_to "Sign Out", destroy_user_session_path
        - else
          = link_to "Sign Up", new_user_registration_path
          |
          = link_to "Sign In", new_user_session_path
    %section#content
      #flash
        - [:notice, :alert].each do |type|
          - if flash[type]
            %p(class=type)= flash[type]

      = yield
    %footer
      %form(action="" method="post")
        %fieldset
          %dl
            %dt
              %label Name
            %dd
              %input(type="text")
              %small Full name
            %dt
              %label Address
            %dd
              %input(type="text")
              %input(type="text")
            %dt
              %label State
            %dd
              %select
                %option(selected) AK
            %dt
              %label Gender
            %dd
              %ul
                %li
                  %label
                    %input(type="radio")
                    Male
                %li
                  %label
                    %input(type="radio")
                    Female
        %fieldset.actions
          %input(type="submit" value="Send")
      %p Deliciousness brought to you by #{link_to "Hashrocket", "http://hashrocket.com/"}
