!!!
%html
  %head
    %title Lunch Bunch
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body
    %h1 Lunch Bunch
    %p
      - if user_signed_in?
        = link_to "Sign Out", destroy_user_session_path
      - else
        = link_to "Sign Up", new_user_registration_path
        |
        = link_to "Sign In", new_user_session_path

    #flash
      - [:notice, :alert].each do |type|
        - if flash[type]
          %p(class=type)= flash[type]

    = yield
